::-moz-selection {
  /* Code for Firefox */
  font-weight: 500;
  color: #ffffff;
  background: #20c997;
}

::selection {
  font-weight: 500;
  color: #ffffff;
  background: #20c997;
}

.parent-class {
  width: calc(100% - 16rem);
}

.active-nav-item {
  color: #20c997;
  transition: all 0.2s ease;
}

@media only screen and (max-width: 1024px) {
  .parent-class {
    width: 100%;
  }
}

/* Hero Section Styling */
.bg-image {
  background-image: url("/public/images/intro-bg.jpg");
  background-size: cover;
}

/* Chevron icon animation */
.animate {
  animation: fadeInDown 1.5s infinite;
}

@keyframes fadeInDown {
  0% {
    bottom: 5px;
    opacity: 0;
  }
  100% {
    bottom: -50px;
    opacity: 1;
  }
}

/* Carousel */
.owl-stage {
  padding: 20px 0;
}

.owl-dot span {
  position: relative;
  margin: 5px 8px !important;
  background: rgba(250, 250, 250, 0.5) !important;
}

.owl-dot span::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

.owl-dot.active span,
.owl-dot:hover span {
  background: #20c997 !important;
}

.owl-dot.active span::after,
.owl-dot:hover span::after {
  border-color: #20c997;
}
