/* Hero Section Styling */
.bg-image {
  background-image: url("/public/images/intro-bg.jpg");
  background-size: cover;
}

/* Chevron icon animation */
.animate {
  animation: fadeInDown 1.5s infinite;
}

@keyframes fadeInDown {
  0% {
    bottom: 5px;
    opacity: 0;
  }
  100% {
    bottom: -50px;
    opacity: 1;
  }
}
